*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
crowdin.yml
.kotlin/
.idea
/SakayoriMusic.jks
/ffmpeg-kit/build/

ign.md
.docs

sentry.properties
/composeApp/build/
/composeApp/cache/
/composeApp/kcef-bundle/
/.mcp.json

/androidApp/build/
/androidApp/cache/

/vlc-natives/
/compose/
/buildkonfig/
/classes/
/generated/
/intermediates/
/kotlin/
/libs/
/outputs/
/tmp/
/crashlytics-empty/build/
/crashlytics/build/
.claude/
bin/
__pycache__/
